@import "tailwindcss";

@theme {

  --font-poppins: 'Poppins', sans-serif;
  --font-helve: 'Helvetica', sans-serif;
  --font-mont: 'Montserrat', sans-serif;
  
  --color-putih: #ffffff;
  --color-bluberi: #3F2E92;
  --color-ashh: #1D1D1D;
  --color-pinus: #14AE5C;
  --color-hitam: #000000;
  --color-rosegold: #C8A86B;
  --color-kertas: #e3e3e3;
  --color-onyx: #12120e;
  --color-navy: #3f2e92;
  --color-obsidian: #171717;
  --color-rumput: #26c631;
  --color-dark: #131313;
  --color-biru1: #5d69c0;
  --color-biru2: #2b3990;
  --color-biru3: #112151;
  
}

@keyframes shiny {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animate-shiny {
  animation: shiny 2s linear infinite;
}


